.feature-highlight {
  &::before {
    content: '';
    display: block;
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: $blue-500;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba($blue-500, 0.4);
    animation: pulse-highlight 2s infinite;
  }

  &:hover::before,
  &.disable-animation::before {
    animation: none;
  }

  &[disabled]::before {
    display: none;
  }
}


.feature-highlight-illustration {
  background-color: $indigo-50;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid darken($gray-10, 8%);
}

.feature-highlight-popover {
  width: 240px;

  .popover-body {
    padding: 0;
  }
}

@include keyframes(pulse-highlight) {
  0% {
    box-shadow: 0 0 0 0 rgba($blue-200, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px transparent;
  }

  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
