.info-well {
  background: $gray-light;
  color: $gl-text-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-default;

  .card.card-body-segment {
    padding: $gl-padding;

    &:not(:last-of-type) {
      border-bottom: 1px solid $well-inner-border;
    }

    &.borderless {
      border-bottom: 0;
    }

    &.branch-info {
      .commit-sha,
      .commit-info {
        margin-left: 4px;

        .fork-svg {
          margin-right: 4px;
          vertical-align: bottom;
        }
      }

      .ref-name {
        font-size: 12px;
      }
    }

    &.admin-well h4 {
      border-bottom: 1px solid $border-color;
      padding-bottom: 8px;
    }
  }

  .icon-container {
    display: inline-block;
    margin: 0 0.5rem 0 0.25rem;

    svg {
      position: relative;
      top: 2px;
      height: 16px;
      width: 16px;
    }

    &.commit-icon {
      svg {
        path {
          fill: $gl-text-color;
        }
      }
    }
  }

  .label-gray {
    background-color: $well-expand-item;
  }

  .branches {
    display: inline;
  }

  svg {
    vertical-align: text-top;
  }
}

.light-well {
  background-color: $gray-light;
  padding: 15px;
}

.dark-well {
  background-color: $gray-10;
}

.card.card-body-centered {
  h1 {
    font-weight: $gl-font-weight-normal;
    text-align: center;
    font-size: 48px;
  }
}
