= gitlab_ui_form_for @application_setting, url: network_admin_application_settings_path(anchor: 'js-incident-management-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting, pajamas_alert: true)

  %fieldset
    .form-group
      = f.gitlab_ui_checkbox_component :throttle_incident_management_notification_enabled, _('Enable incident management inbound alert limit'), help_text: _('Reduce incident management alert volume (for example, if too many issues are being created).')
    .form-group
      = f.label :throttle_incident_management_notification_period_in_seconds, 'Maximum requests per project per rate limit period', class: 'gl-font-weight-bold'
      = f.number_field :throttle_incident_management_notification_period_in_seconds, class: 'form-control gl-form-input'
    .form-group
      = f.label :throttle_incident_management_notification_per_period, 'Rate limit period', class: 'gl-font-weight-bold'
      = f.number_field :throttle_incident_management_notification_per_period, class: 'form-control gl-form-input'
      .form-text.gl-text-gray-600
        = _("The time period in seconds that the maximum requests per project limit applies to.")

  = f.submit _('Save changes'), class: "gl-button btn btn-confirm"
