.user_new
  = gitlab_ui_form_for [:admin, @user], html: { class: 'fieldset-form' } do |f|
    = form_errors(@user)

    %fieldset
      %legend.gl-border-bottom-0= _('Account')
      .form-group.row
        .col-12
          = f.label "#{:name} (required)"
          = f.text_field :name, required: true, autocomplete: 'off', class: 'form-control gl-form-input'
      .form-group.row
        .col-12
          = f.label "#{:username} (required)"
          = f.text_field :username, required: true, autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: false, class: 'form-control gl-form-input'
      .form-group.row
        .col-12
          = f.label "#{:email} (required)"
          = f.text_field :email, required: true, autocomplete: 'off', class: 'form-control gl-form-input'

    - if @user.new_record?
      %fieldset
        %legend.gl-border-bottom-0= _('Password')
        .form-group.row
          .col-12
            %strong
              = _('Reset link will be generated and sent to the user. %{break} User will be forced to set the password on first sign in.').html_safe % { break: '<br />'.html_safe }
    - else
      %fieldset
        %legend.gl-border-bottom-0= _('Password')
        .form-group.row
          .col-12
            = f.label :password
          .col-12
            = f.password_field :password, disabled: f.object.force_random_password, autocomplete: 'new-password', class: 'form-control gl-form-input'
        .form-group.row
          .col-12
            = f.label :password_confirmation
          .col-12
            = f.password_field :password_confirmation, disabled: f.object.force_random_password, autocomplete: 'new-password', class: 'form-control gl-form-input'

    = render partial: 'access_levels', locals: { f: f }

    = render_if_exists 'admin/users/namespace_plan_fieldset', f: f

    = render_if_exists 'admin/users/limits', f: f

    %fieldset
      %legend.gl-border-bottom-0= _('Profile')
      .form-group.row
        .col-12
          = f.label :avatar
        .col-12
          = f.file_field :avatar

      .form-group.row
        .col-12
          = f.label :skype
          = f.text_field :skype, class: 'form-control gl-form-input'
      .form-group.row
        .col-12
          = f.label :linkedin
          = f.text_field :linkedin, class: 'form-control gl-form-input'
      .form-group.row
        .col-12
          = f.label :twitter
          = f.text_field :twitter, class: 'form-control gl-form-input'
      .form-group.row
        .col-12
          = f.label :website_url
          = f.text_field :website_url, class: 'form-control gl-form-input'

    = render 'admin/users/admin_notes', f: f

    %div
      - if @user.new_record?
        = f.submit _('Create user'), class: "btn gl-button btn-confirm"
        = link_to _('Cancel'), admin_users_path, class: "gl-button btn btn-default btn-cancel"
      - else
        = f.submit _('Save changes'), class: "btn gl-button btn-confirm"
        = link_to _('Cancel'), admin_user_path(@user), class: "gl-button btn btn-default btn-cancel"
